# information about the host we're running on
export HOST_NAME=="$(hostnamectl | grep 'Static hostname' | awk '{print $3}')" # HOSTNAME.google.com
export HOST_DOMAIN='deerlord.lan' # mail.HOST_DOMAIN 
export HOST_IP=''
export HOST_MAC='' # mac address
export HOST_GATEWAY=''
export GATEWAY_MAC="$(grep -P "^${HOST_GATEWAY} " /proc/net/arp | awk '{print $4}')"
export HOST_SUBNET=''
# DHCP settings for dnsmasq
export DHCP_START=''
export DHCP_END=''
export DHCP_TIME='12h'
export DHCP_ETH_START=''
export DHCP_ETH_END=''
export DHCP_ETH_TIME=''
export DHCP_WIFI_START=''
export DHCP_WIFI_END=''
export DHCP_WIFI_TIME=''
# DNS values
export DNS_ONE=1.1.1.1
export DNS_TWO=1.0.0.1
# NGINX SSL values
export COUNTRY=''
export STATE=''
export LOCALITY=''
export ORGANIZATION=''
export ORGANIZATIONALUNIT=''
export COMMONNAME="*.${HOST_DOMAIN}"
export EMAIL=''
# NTP values
export NTP_SERVER="time.${HOST_DOMAIN}"
# OpenWeatherMap API
export WEATHER_API_KEY=''
export LATITUDE=''
export LONGITUDE=''
export UNITS=''
