[Unit]
Description=%n Container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStart=docker start infra/%n

[Install]
WantedBy=multi-user.target
