# information about the host we're running on
export HOST_NAME=="$(hostnamectl | grep 'Static hostname' | awk '{print $3}')" # HOSTNAME.google.com
export HOST_DOMAIN='' # mail.HOST_DOMAIN 
export HOST_IP='172.16.0.5'
export HOST_GATEWAY='172.16.0.1'
export HOST_SUBNET='255.255.0.0'
# DHCP settings for dnsmasq
export DHCP_START='172.16.0.10'
export DHCP_END='171.16.0.50'
export DHCP_TIME='12h'
# DNS values
export DNS_ONE=8.8.8.8
export DNS_TWO=8.8.4.4
# NGINX SSL values
export COUNTRY=''
export STATE=''
export LOCALITY=''
export ORGANIZATION=''
export ORGANIZATIONALUNIT=''
export COMMONNAME="*.${HOST_DOMAIN}"
export EMAIL=''
# NTP values
export NTP_SERVER="time.${HOST_DOMAIN}"
