user=root
domain-needed
bogus-priv
no-resolv
no-poll
domain={{ HOST_DOMAIN }}
expand-hosts
local=/{{ HOST_DOMAIN }}/
addn-hosts=/etc/dnsmasq/local_hosts
addn-hosts=/etc/dnsmasq/ad_domains
#conf-file=/etc/dnsmasq/static
dhcp-leasefile=/etc/dnsmasq/leases
server=/unionpacific/
server=8.8.8.8
server=8.8.4.4
no-hosts
dhcp-range={{ DHCP_START }},{{ DHCP_END }},{{ DHCP_TIME }}
dhcp-option=option:router,{{ HOST_GATEWAY }}
dhcp-option=option:ntp-server,{{ HOST_IP }}
#dhcp-range=eth,${DHCP_ETH_START},${DHCP_ETH_END},${DHCP_ETH_TIME}
#dhcp-range=wifi,${DHCP_WIFI_START},${DHCP_WIFI_END},${DHCP_WIFI_TIME}
dhcp-lease-max=25
log-queries
log-dhcp
